
.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  border-right:1px solid #9EC1D4;

}
.dialogItems.active {
  color: gold
}

.messages {
padding: 10px;
}

.messages.message {
padding: 10px;
}