
.nav {
    padding: 20px;
    grid-area: n;
    background-color: burlywood;
    border-radius: 10px;
  }
  
  .nav div {
    gap: 10px;
  }

  .item a{
      color: white;
      text-decoration: none;
  }

  .item a.active{
        color: grey;
  }
